/* ===================================
	10. Testimonials
=================================== */
.testimonial-bg {
	background-image: url(../../../public/img/bg/testimonial-bg.jpg);
	background-position: center top;
	position: relative;
	z-index: 0;
}
.testimonial-bg:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.7);
	z-index: -1;
}
.testimonial-box {
	background-color: #fff;
	padding: 20px;
	position: relative;
}
.testimonial-box .reviewer {
	position: relative;
	z-index: 1;
}
.testimonial-box .quote-icon {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 0px;
	opacity: 0.1;
	font-size: 150px;
	transform: translateY(-50%);
	z-index: 0;
}
.testimonial-box .reviewer img {
	height: 70px;
	width: 70px;
}
.testimonial-box .reviewer .content .name {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 10px;
}
.testimonial-carousel .owl-nav {
	left: 0;
	width: 100%;
	z-index: -1;
	margin-top: 30px;
}
.testimonial-carousel .owl-nav .owl-prev, .testimonial-carousel .owl-nav .owl-next {
	text-align: center;
	background-color: #f5f5f5 !important;
	border-radius: 100%;
	font-size: 16px !important;
	color: #333 !important;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0px 6px !important;
}
.testimonial-carousel .owl-nav .owl-prev:hover, .testimonial-carousel .owl-nav .owl-next:hover {
	color: #fff !important;
	background-color: #31b675 !important;
}