/* ===================================
	12. Download app are
=================================== */
.download-app-area {
	background-color: #003b6586;
	overflow: hidden;
	position: relative;
	z-index: 0;
}
.download-app-area:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .2;
	height: 100%;
	z-index: -1;
	background-image: url(../../../public/img/bg/download-app-line.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 200%;
}
.app-img {
	position: relative;
	max-width: 450px;
	margin: 0 auto;
}
.app-img img {
	width: 100%;
	position: absolute;
}