/* ===================================
	07. Popular Hotel
=================================== */
.popular-hotel-box {
	text-align: center;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.popular-hotel-box .imege {
	position: relative;
}
.popular-hotel-box .black-bg {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#10b098+29,000000+100&0+30,0.7+98 */
	background: -moz-linear-gradient(top, rgba(16,176,152,0) 29%, rgba(16,174,150,0) 30%, rgba(0,5,4,0.7) 98%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(16,176,152,0) 29%, rgba(16,174,150,0) 30%, rgba(0,5,4,0.7) 98%, rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(16,176,152,0) 29%, rgba(16,174,150,0) 30%, rgba(0,5,4,0.7) 98%, rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0010b098', endColorstr='#b3000000', GradientType=0 ); /* IE6-9 */
}
.popular-hotel-box:hover .black-bg {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#10b098+29,31b675+100&0+30,0.7+98 */
	background: -moz-linear-gradient(top, #003b6542 29%, #003b6547 30%, #003b654d 98%, rgba(220, 66, 66, 0.147) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #003b654b 29%, #003b6553 30%, #003b6559 98%, rgba(220, 66, 66, 0.121) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #003b654e 29%, #003b6555 30%, #003b6557 98%, rgba(220, 66, 66, 0.152)100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0010b098', endColorstr='#b331b675', GradientType=0 ); /* IE6-9 */
}
.popular-hotel-box:hover {
	border: 1px solid #003B65;
}
.popular-hotel-box .black-bg a {
	position: absolute;
	left: 15px;
	bottom: 15px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
.popular-hotel-box h4 a {
	/* color: #31b675; */
    color: #003B65;
	text-decoration: none;
	padding-bottom: 6px;
	position: relative;
	margin-bottom: 20px;
	font-size: 20px;
	display: inline-block;
}
.popular-hotel-box h4 a:before {
	position: absolute;
	content: "";
	height: 1px;
	width: 30px;
	background-color: #333;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.popular-hotel-box h4 a:after {
	position: absolute;
	content: "";
	height: 1px;
	width: 50px;
	background-color: #333;
	bottom: -6px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.popular-hotel-box .price {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 600;
	/* color: #31b675; */
    color: #003B65;
}
.popular-hotel-box .price span {
	font-weight: 300;
	color: #666;
	font-size: 12px;
}
.popular-hotel-carousel .owl-nav {
	left: 0;
	width: 100%;
	z-index: -1;
	margin-top: 30px;
}
.popular-hotel-carousel .owl-nav .owl-prev, .popular-hotel-carousel .owl-nav .owl-next {
	text-align: center;
	background-color: #f5f5f5 !important;
	border-radius: 100%;
	font-size: 16px !important;
	color: #333 !important;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0px 6px !important;
}
.popular-hotel-carousel .owl-nav .owl-prev:hover, .popular-hotel-carousel .owl-nav .owl-next:hover {
	color: #fff !important;
	/* background-color: #31b675 !important; */
    background-color: #003B65 !important;
}